    {% extends 'base.html' %}
    {% load static %}
    {% block css %}<link rel="stylesheet" href="{% static 'css/styleProducto.css' %}">{% endblock %}
    {% block title %}Comicstore - Producto{% endblock %}
    {% block content %}
    <div class="container spacer mb-5">
        <div class="row">
            <div class="card mb-3 border-0">
                <div class="row g-0">
                  <div class="col-lg-4 text-center">
                    <img id="imgComic" src="{{ comic.img_path }}" class="img-fluid" alt="...">
                  </div>
                  <div class="col-lg-8">
                    <div class="card-body">
                      <p id="titleComic" class="card-title titulo">{{ comic.title }}</p>
                      <p id="priceComic" class="subtitulo">Precio: ${{ comic.price }}</p>
                      <p id="idComic" class="info card-text">ID: {{ comic.id }}</p>
                      <p id="statusComic" class="info card_text">Estado: Disponible</p>
                      <div class="mb-1">
                        <label for="cantidadInput" class="info form-label">Cantidad:</label>
                    </div>
    
                    <div class="col-md-6 col-lg-4">
                        <div class="input-group">
                            <button class="btn btn-outline-secondary" type="button" id="btnMenos">-</button>
    
                            <input type="text" class="form-control text-center" id="cantidadInput" value="1"
                                pattern="[0-9]*" inputmode="numeric">
    
                            <button class="btn btn-outline-secondary" type="button" id="btnMas">+</button>
                        </div>
                    </div>
                    <div class="d-grid col-md-6 col-lg-4">
                        <button id="carro" type="button" class="btn btn-primary mt-3"><i class="fas fa-shopping-cart me-1"></i><span class="info">Añadir al Carrito</span></button>
                    </div>
                    <div class="mt-3">
                        <p class="spacer2 mt-5 subtitulo">Descripción:</p>
                        <p class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa sequi dignissimos aliquid dolorem
                            pariatur corrupti earum dolor enim non hic. Eum eos molestias, quis vero aliquid ullam rerum
                            consequuntur perspiciatis.
                        </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="modal" id="exampleModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">El producto se agregó exitosamente</h5>
                    <button type="button" class="btn-close btnClose" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body mt-3">
                    <p>{{ comic.title }}</p>
                    <p>${{ comic.price }}</p>
                </div>
                <div class="modal-footer">
                    <button id="irCarro" type="button" class="btn btn-primary" onclick="location.href='{% url 'carrito' %}'">Ir al carrito</button>
                    <button id="seguirComprando" type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="location.href='{% url 'landing:index' %}'">Seguir comprando</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modalAgotado">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Producto Agotado</h5>
                    <button type="button" class="btn-close btnClose" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body mt-3">
                    <p>Lo sentimos, el producto se encuentra agotado</p>
                </div>
                <div class="modal-footer">

                    <button id="seguirComprando "type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="location.href='{% url 'landing:index' %}'">Seguir comprando</button>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block js %}
    <script src="{% static 'js/scriptProducto.js' %}"></script>
    {% endblock %}
        









