.banner{
    width: 100%;
    height: 30vh;
}

.formulario {
    max-width: 800px; /* Ancho máximo del contenedor del formulario */
    width: 80%; /* Ancho del contenedor del formulario en relación con el ancho del viewport */
    /*margin: 0 auto;  Centra horizontalmente el formulario */
    margin-top: 50px; /* Espacio en la parte superior del formulario */
    background-color: #f0f0f0; /* Color de fondo del formulario */
    border-radius: 15px; /* Borde curvo */
    padding: 20px; /* Espaciado interno del formulario */
}

.thumbnail {
    width: 27%;
    height: 27%;
    object-fit: cover;

}

.imagen {
    max-width: 15rem;
    max-height: 16.3rem;
}

.contador{
    margin: auto auto;
}

.card {
    background-color: #f0f0f0;
    border: none;
}

.card-footer{
    background-color: #f0f0f0;
}

.superman-icon {
    position: fixed;
    right: 20px;
    top: 84%;
    transform: translateY(-50%);
    width: 50px;
    cursor: pointer;
}

@media (max-width: 576px) {
    .navbar .form-control {
        width: 100%;
        margin-bottom: 10px;
    }

    .navbar .btn-secondary {
        width: 100%;
    }

    .navbar .d-flex {
        flex-direction: column;
        width: 100%;
    }
}