.banner {
    width: 100%;
    height: 30vh;
}

.logo {
    width: 10vh;
    height: 10vh;
}

.carrusel {
    height: 70vh;
}

.foto {
    width: 100%;
    height: 100%;
    object-fit:contain;

}

.galeria {
    background-color: rgb(231, 231, 231);
}

.titulo {
    font-size: calc(2em + 2.5vw);
    font-weight: 500;
    object-fit: cover;
}

.texto1 {
    position: absolute;
    right: 15%;
    top: 20%;
    left: 15%;
    bottom: 35%;
    z-index: 10;
    color: #fff;
    text-align: center;
    font-size: calc(3em + 3vw) ;
    font-weight: 500;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}

.texto2 {
    position: absolute;
    right: 15%;
    top: 15%;
    left: 15%;
    bottom: 15%;
    z-index: 10;
    color: #000000;
    text-align: center;
    font-size: calc(2em + 2.5vw) ;
    font-weight: 500;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    ;
}

.codigo{
    color: rgb(250, 0, 0);
    background: rgba(0, 255, 255, 0.7);    
    padding-left: 2%;
    padding-right: 2%;
}

.superman-icon {
    position: fixed;
    right: 20px;
    top: 84%;
    transform: translateY(-50%);
    width: 50px;
    cursor: pointer;
}

.navbar-pagination {
    background-color: #E7E7E7;
}

.navbar-pagination .page-link {
    background-color: #E7E7E7; 
    color: black; 
    border-radius: 20px;
    margin-right: 3px;
    margin-bottom: 7px;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #CED4DA;

}

.navbar-pagination .page-link:hover {
    background-color: black;
    color: white;
  }

.navbar-pagination .page-item.active .page-link {
    background-color: #343a40; 
    color: #fff;
}

.navbar-pagination .page-link:hover {
    background-color: grey;
  }
  

.navbar-pagination .page-item.active .page-link {
    background-color: #343a40;
    color: #fff;
}

@media (max-width: 576px) {
    .navbar .form-control {
        width: 100%;
        margin-bottom: 10px;
    }

    .navbar .btn-secondary {
        width: 100%;
    }

    .navbar .d-flex {
        flex-direction: column;
        width: 100%;
    }
}

