.banner{
    width: 100%;
    height: 20vh;
}

.carrusel{
    height: 70vh;
}
/* Espacio entre div */
.spacer {
    margin-top: 50px; 
}
.spacer2{
    margin-top: 20px;
}

.superman-icon {
    position: fixed;
    right: 20px;
    top: 84%;
    transform: translateY(-50%);
    width: 50px;
    cursor: pointer;
}

@media (max-width: 576px) {
    .navbar .form-control {
        width: 100%;
        margin-bottom: 10px;
    }

    .navbar .btn-secondary {
        width: 100%;
    }

    .navbar .d-flex {
        flex-direction: column;
        width: 100%;
    }
}
/* pantalla menor a lg*/
@media (max-width: 991.98px) {
    .titulo{
        font-size: calc(1.2rem + 1vw);
        font-weight: bold;
    }

    .subtitulo{
        font-size: calc(1rem + 0.5vw);
        font-weight: 900;
    }

    .info{
        font-size: calc(0.8rem + 0.5vw);
    }
}
/*pantalla lg hacia arriba*/
@media (min-width: 992px) {
    .titulo{
        font-size: 1.8vw;
        font-weight: bold;
    }

    .subtitulo{
        font-size: 1.5vw;
        font-weight: 900;
    }

    .info{
        font-size: 1vw;
    }
}